/* .dark-mode {
background-color: navy;
color: wheat;
} */

/* form {
    height: 30vh;
    padding: 10vh
} */

/* .jordan-mode {
    font-size: 2em;
} */

 .articles{
    display: flex;
 }

#article1{
    border: 1px solid tomato;
    width: 50vw;
    height: 5vh;
    margin: .5em;
}

#article2{
    border: 1px solid teal;
    width: 50vw;
    height: 5vh;
    margin: .5em
}